<!-- templates/Accounting_button/functions_of_performers/functions_list.html -->
{% extends "Accounting_button/base.html" %}
{% load permissions %}

{% block content %}
<div class="container">
    <h2>Функции исполнителей (должности)</h2>
    
    <p>Добро пожаловать, {{ user.username }}!</p>  <!-- Приветствие пользователя -->
    
    <ul>
        {% for function in functions %}
            <li>
                {{ function.name }}: {{ function.description }}
                
                {% if function.id %}
                    {% if user|has_perm:"Accounting_button.change_functions_of_performers" %}
                        <a href="{% url 'Accounting_button:update_function' function.id %}" class="btn btn-primary">Редактировать функцию</a>
                    {% endif %}
                    {% if user|has_perm:"Accounting_button.delete_functions_of_performers" %}
                        <a href="{% url 'Accounting_button:delete_function' function.id %}" class="btn btn-danger">Удалить функцию</a>
                    {% endif %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
    
    {% if user|has_group:"Собственник" %}
        <a href="{% url 'Accounting_button:create_function' %}" class="btn btn-primary">Добавить новую функцию</a>
    {% endif %}
</div>
{% endblock %}
