# Python
*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.sqlite3

# Django
*.log
local_settings.py
db.sqlite3
media

# macOS
.DS_Store

# Editor
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore virtual environment folder
.venv/

# Ignore static files
staticfiles/

# Ignore coverage files
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
junit.xml
