{% extends "Accounting_button/base.html" %}

{% block content %}
<div class="container mt-4">
    <h2>Дашборд Исполнителя</h2>
    <p>Добро пожаловать, {{ user.username }}!</p>
    <!-- Контейнер с классом d-flex и flex-wrap для адаптивного расположения кнопок -->
    <div class="d-flex flex-wrap">
        <a href="{% url 'Accounting_button:functions_list' %}" class="btn btn-primary mr-2 mb-2">Функции исполнителей</a>
        <a href="{% url 'Accounting_button:rates_list' %}" class="btn btn-primary mr-2 mb-2">Тарифы исполнителей</a>
        <a href="{% url 'Accounting_button:functions_organizers_list' %}" class="btn btn-primary mr-2 mb-2">Функции организаторов</a> <!-- Кнопка для перехода к функциям организаторов -->
        <a href="{% url 'Accounting_button:taxation_systems_list' %}" class="btn btn-primary mb-2">Системы налогообложения</a> <!-- Кнопка для перехода к справочнику систем налогообложения -->
    </div>
</div>
{% endblock %}
