{% extends "Accounting_button/base.html" %}
{% load permissions %}

{% block content %}
<div class="container mt-4">
    <h2>Дашборд Организатора</h2>
    <p>Добро пожаловать, {{ user.username }}!</p>
    
    <!-- Блок Справочники -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Справочники</h3>
        </div>
        <div class="card-body d-flex flex-wrap">
            <a href="{% url 'Accounting_button:functions_list' %}" class="btn btn-primary mr-2 mb-2">Функции исполнителей</a>
            <a href="{% url 'Accounting_button:rates_list' %}" class="btn btn-primary mr-2 mb-2">Тарифы исполнителей</a>
            <a href="{% url 'Accounting_button:schedules_list' %}" class="btn btn-primary mr-2 mb-2">Штатное расписание</a>
            <a href="{% url 'Accounting_button:functions_organizers_list' %}" class="btn btn-primary mr-2 mb-2">Функции организаторов</a>
            <a href="{% url 'Accounting_button:organizers_rates_list' %}" class="btn btn-primary mr-2 mb-2">Тарифы организаторов</a>
            <a href="{% url 'Accounting_button:taxation_systems_list' %}" class="btn btn-primary mr-2 mb-2">Системы налогообложения</a>
            <a href="{% url 'Accounting_button:groups_list' %}" class="btn btn-primary mr-2 mb-2">Группы видов работ</a>
            <a href="{% url 'Accounting_button:types_of_jobs_list' %}" class="btn btn-primary mr-2 mb-2">Виды работ</a>
            <a href="{% url 'Accounting_button:clients_list' %}" class="btn btn-primary mr-2 mb-2">Клиенты</a>
        </div>
    </div>
    
    <!-- Блок Журналы -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Журналы</h3>
        </div>
        <div class="card-body d-flex flex-wrap">
            <a href="{% url 'Accounting_button:standard_operations_log_list' %}" class="btn btn-primary mr-2 mb-2">Журнал стандартных операций</a>
            <a href="{% url 'Accounting_button:non_standard_operations_log_list' %}" class="btn btn-primary mb-2">Журнал нестандартных операций</a>
        </div>
    </div>
    
    <!-- Блок Отчеты -->
    <div class="card mb-4">
        <div class="card-header">
            <h3>Отчеты</h3>
        </div>
        <div class="card-body d-flex flex-wrap">
            <a href="#" class="btn btn-primary mr-2 mb-2">Отчеты (заглушка)</a>
        </div>
    </div>
</div>
{% endblock %}
