{% extends "Accounting_button/base.html" %}
{% load permissions %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Клиенты (Всего: {{ total_clients }})</h2>
    {% for tax_system, clients in grouped_clients.items %}
        <h3>{{ tax_system.name }} ({{ clients.count }})</h3>
        <div class="list-group">
            {% for client in clients %}
                <div class="list-group-item mb-2">
                    <h5 class="mb-1">ID: {{ client.id }} - {{ client.short_title }}</h5>
                    <p class="mb-1">{{ client.full_name }}</p>
                    <div class="btn-group mt-2" role="group" aria-label="Client Actions">
                        <a href="{% url 'Accounting_button:read_client' client.id %}" class="btn btn-secondary btn-sm mr-2">Подробнее</a>
                        <a href="{% url 'Accounting_button:update_client' client.id %}" class="btn btn-primary btn-sm mr-2">Редактировать</a>
                        <a href="{% url 'Accounting_button:delete_client' client.id %}" class="btn btn-danger btn-sm">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    <a href="{% url 'Accounting_button:create_client' %}" class="btn btn-success mt-4">Добавить клиента</a>
</div>
{% endblock %}
