<!-- templates/Accounting_button/performers_rates/rate_detail.html -->
{% extends "Accounting_button/base.html" %}

{% block content %}
<div class="container mt-4">
    <h1>{{ rate.name }}</h1>
    <p>Стоимость за минуту: {{ rate.cost_per_minute }}</p>

    {% if perms.Accounting_button.change_performersrates %} 
        <a href="{% url 'Accounting_button:update_rate' rate.id %}" class="btn btn-primary">Редактировать</a>
    {% endif %}
    {% if perms.Accounting_button.delete_performersrates %}
        <a href="{% url 'Accounting_button:delete_rate' rate.id %}" class="btn btn-danger">Удалить</a>
    {% endif %}
</div>
{% endblock %}
