{% extends "Accounting_button/base.html" %}
{% load permissions %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Журнал стандартных операций</h2>
    <p>Добро пожаловать, {{ user.username }}!</p>  <!-- Приветствие пользователю -->
    {% if user|has_group:"Исполнитель" %}
        <a href="{% url 'Accounting_button:create_standard_operations_log' %}" class="btn btn-success mb-4">Добавить запись</a>  <!-- Кнопка для добавления новой записи -->
    {% endif %}
    {% for owner, logs in grouped_logs.items %}
        <h3>{{ owner.username }}</h3>  <!-- Имя владельца записей -->
        <div class="list-group">
            {% for log in logs %}
                <div class="list-group-item mb-2">
                    <!-- ID записи на отдельной строке -->
                    <p>ID записи: {{ log.id }}</p>
                    <!-- ID клиента перед именем клиента -->
                    <h5 class="mb-1">ID: {{ log.client.id }} - {{ log.client.short_title }}</h5>
                    <!-- ID типа работы и название типа работы -->
                    <p>Тип работы: (ID: {{ log.type_of_work.id }}) {{ log.type_of_work.name }}</p>
                    <!-- Стоимость работы -->
                    <p>Стоимость: {{ log.price }} руб</p>
                    <!-- Дата записи -->
                    <p>Дата: {{ log.date }}</p>
                    <div class="btn-group mt-2" role="group" aria-label="Log Actions">
                        <!-- Кнопка "Подробнее" -->
                        <a href="{% url 'Accounting_button:read_standard_operations_log' log.id %}" class="btn btn-secondary btn-sm mr-2">Подробнее</a>
                        {% if log.owner == user and user|has_perm:"Accounting_button.change_standardoperationslog" %}
                            <!-- Кнопка "Редактировать" -->
                            <a href="{% url 'Accounting_button:update_standard_operations_log' log.id %}" class="btn btn-primary btn-sm mr-2">Редактировать</a>
                        {% endif %}
                        {% if log.owner == user and user|has_perm:"Accounting_button.delete_standardoperationslog" %}
                            <!-- Кнопка "Удалить" -->
                            <a href="{% url 'Accounting_button:delete_standard_operations_log' log.id %}" class="btn btn-danger btn-sm">Удалить</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
