{% extends "Accounting_button/base.html" %}
{% load permissions %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Журнал нестандартных операций</h2>
    <p>Добро пожаловать, {{ user.username }}!</p>  <!-- Приветствие пользователю -->
    <a href="{% url 'Accounting_button:create_non_standard_operations_log' %}" class="btn btn-success mb-4">Добавить запись</a>  <!-- Кнопка для добавления новой записи -->
    {% for owner, logs in grouped_logs.items %}
        <h3>{{ owner.username }}</h3>  <!-- Имя владельца записей -->
        <div class="list-group">
            {% for log in logs %}
                <div class="list-group-item mb-2">
                    <p>ID записи: {{ log.id }}</p>
                    <h5 class="mb-1">ID: {{ log.client.id }} - {{ log.client.short_title }}</h5>
                    <p>Содержание работы: {{ log.content_of_the_work }}</p>
                    <p>Стоимость: {{ log.price }} руб.</p>
                    <p>Дата: {{ log.date }}</p>
                    <div class="btn-group mt-2" role="group" aria-label="Log Actions">
                        <a href="{% url 'Accounting_button:read_non_standard_operations_log' log.id %}" class="btn btn-secondary btn-sm mr-2">Подробнее</a>
                        <a href="{% url 'Accounting_button:update_non_standard_operations_log' log.id %}" class="btn btn-primary btn-sm mr-2">Редактировать</a>
                        <a href="{% url 'Accounting_button:delete_non_standard_operations_log' log.id %}" class="btn btn-danger btn-sm">Удалить</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
