<!-- templates/Accounting_button/taxation_systems/taxation_systems_list.html -->
{% extends "Accounting_button/base.html" %}
{% load permissions %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-12">
            <h2 class="mb-4">Налоговые системы</h2>
            <p class="lead">Добро пожаловать, {{ user.username }}!</p>

            <div class="list-group">
                {% for taxation_system in taxation_systems %}
                    <div class="list-group-item mb-2">
                        <h5 class="mb-1">{{ taxation_system.name }}</h5>
                        <p class="mb-1">{{ taxation_system.description }}</p>

                        {% if taxation_system.id %}
                            <div class="btn-group mt-2" role="group" aria-label="TaxationSystem Actions">
                                {% if user|has_perm:"Accounting_button.change_taxationsystems" %}
                                    <a href="{% url 'Accounting_button:update_taxation_system' taxation_system.id %}" class="btn btn-primary btn-sm mr-2">Редактировать систему</a>
                                {% endif %}
                                {% if user|has_perm:"Accounting_button.delete_taxationsystems" %}
                                    <a href="{% url 'Accounting_button:delete_taxation_system' taxation_system.id %}" class="btn btn-danger btn-sm">Удалить систему</a>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>

            {% if user|has_perm:"Accounting_button.add_taxationsystems" %}
                <a href="{% url 'Accounting_button:create_taxation_system' %}" class="btn btn-success mt-4">Добавить новую систему</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
